// here I can rewrite bootstrap variables

$theme-colors: (
  "gray": #f8f9fa,
  "primary": #0d6efd,
);

$font-sizes: (
  7: 14px
);

a {
  text-decoration: none !important;
  color: #6c757d !important;
}

.active {
  color: #212529 !important;
}

.blue-link {
  color: #007bff !important;
}

.article-wrapper {
  @media (min-width: 760px) {
		display: flex;
	}
}

.article-img {
  object-fit: cover;
  width: 272px;
  height: 244px;
  flex-shrink: 0;
}

.related-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.avatar {
  width: 44px;
  flex-shrink: 0;
  margin-right: 28px;
}

@import "~bootstrap/scss/bootstrap.scss";
